<!--Author: Kanishka Dhir
   Student ID:301220757
   Date:02-02-2022 -->

<% include partials/header.ejs %>

     <div class="container col-xxl-8 mt-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/Kanishka_pp.jpg" class="img-fluid"  width="700" height="500" >
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold" >Who am I?</h1>
            <p class="lead">I am Kanishka Dhir from Bathinda, Punjab , India.I completed my Bachelor's in Computer Science &  Engineering from 
                Maharaja Ranjit Singh Punjab Technical Univeristy, Bathinda. 
        
                I do a lot of things other than programming.I am also a dancer, an avid reader.
                I like to make crafty things, praciticing calligraphy,doodling and doing embroidery. 
                </p>
                <div>
                    <a href="https://drive.google.com/file/d/1OwJmDL-QzlbXRo3ZqNn0uV5bedZprYMk/view?usp=sharing" type="button" class="btn btn-primary btn-lg mt-4">Link to My Resume</a>
             </div>
           
          </div>
        </div>
      </div>

<% include partials/footer.ejs %>